@use "base/var";

.cart {
	display: flex;
	flex-direction: column;
	padding: 10px 20px 30px;

	&__list {
		width: 100%;
	}

	&__item {
		border-bottom: 1px solid #000;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		padding: 20px;
		gap: 20px;

		&_title .cart__elem {
			font: {
				size: .9rem;
				weight: 500;
			}
		}
	}

	&__elem {
		display: flex;
		align-items: center;
		justify-content: center;
		font-style: italic;

		&_link {
			cursor: pointer;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			a {
				display: block;
				text-align: center;
			}
		}
	}

	&__amount {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		input {
			font-family: "Montserrat", "Arial", sans-serif;
			border: 1px solid black;
			padding: 5px;
			width: 34px;
			height: 34px;
			margin: 5px;
			border-radius: 5px;
			color: black;
			display: block;
			text-align: center;
		}

		button {
			width: 24px;
			height: 24px;
			background-color: black;
			border-radius: 50%;
			cursor: pointer;
		}
	}

	&__actions {
		display: flex;
		flex-direction: column;
		gap: 20px;

		span {
			width: 24px;
			height: 24px;
			cursor: pointer;
			display: flex;
			align-items: center;

			svg {
				width: 24px;
				height: 24px;
			}
		}
	}

	@media (max-width: var.$vp-1023) {
		&__img {
			margin: 0 auto;
		}

		&__item {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto auto;
			gap: 20px;
			align-items: center;

			&_title {
				display: none;
			}
		}

		&__elem {
			&_link {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				align-items: center;
			}
		}

		&__vol {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}

		&__price {
			grid-column: 3 / 4;
			grid-row: 1 / 2;
		}

		&__amount {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}

		&__summ {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}

		&__actions {
			grid-column: 3 / 4;
			grid-row: 2 / 3;
			flex-direction: row;
		}
	}
}
