@use "base/var";

.cart {
	display: flex;
	flex-direction: column;

	&__list {
		border: 1px solid var.$black;
		border-radius: 30px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var.$black;
		padding: 20px;
		margin: 0 20px;

		&_title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__amount {
		position: relative;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;

		input {
            background-color: rgba(0, 0, 0, 0);
            display: flex;
            justify-content: center;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            width: 25px;
            height: 25px;
            margin: 5px;
            border-radius: 7px;
		}

		button {
			width: 24px;
			height: 24px;
			background-color: black;
			border-radius: 50%;
		}
	}

	&__actions {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}
