@use "base/var";

.checkout {
    margin-top: 120px;
    padding-bottom: 20px;

    &__wrapper {
        display: flex;
        gap: 30px;
    }

    &__item {
        border: 1px solid var.$black;
		border-radius: 30px;
		display: flex;
		flex-direction: column;
        align-items: center;
    }

    &__title {
        font: {
            size: 3rem;
            style: italic;
        }
        padding: 50px;
    }
}