@use "base/var";

.dropdown {
	position: relative;

	&__btn {
		cursor: pointer;
		color: var.$black;
	}

	&__link {
		position: relative;
		display: block;
		padding: 5px 40px 5px 5px;
		transition: 0.3s;
		font-size: 16px;

		&:hover {
			opacity: 0.5;
		}
	}

	&__btn {
		height: 80px;
		position: relative;
		padding-right: 25px;

		&:after {
			position: absolute;
			content: "";
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 15px;
			height: 15px;
			background-image: url("../icons/arrow-btn.svg");
			background-repeat: no-repeat;
		}
	}

	@media (min-width: 768px) {
		&__content {
			display: none;

			&_active {
				position: absolute;
				left: 0;
				background-color: var.$white;
				padding: 20px;
				display: flex;
				flex-direction: column;
				gap: 20px;
				width: max-content;
			}
		}

		&:hover .dropdown__content {
			position: absolute;
			left: 0;
			background-color: var.$white;
			padding: 10px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			max-width: 200px;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
		}
	}

	@media (max-width: var.$vp-767) {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 100%;

		&__link {
			font-size: 14px;
		}

		&__btn {
			font-weight: 500;
			height: fit-content;
			position: relative;
		}

		&__content {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.4s ease;
			width: 100%;

			&_active {
				max-height: 300px; // Ограничение высоты dropdown
				overflow-y: auto; // Скролл, если контент внутри превышает высоту
				padding: 15px; // Внутренние отступы
			}
		}
	}
}
